<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="tooltip" data-placement="left" title="Todo's">Todo's</div>

        <div class="panel-body no-margin">
            <ul class="nav nav-pills nav-stacked" id="sub-menu-sports">
                <li id="mi-info">
                    <a href="#">Basic Information

                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="tooltip" data-placement="left" title="Create">Create Todo
            <ul id="headbar-menu" class="pull-right">
                <li>
                    <a href="/" class="create" title="Create Todo">&nbsp;Add Todo</a>
                </li>
            </ul>
        </div>

        <form action="#">
        <div class="panel-body no-margin">
            <div class="form-group ">
                <label for="title" class="control-label col-sm-3">
                    Title
                    <span class="required-indicator">*</span>

                </label>

                <div class="col-sm-9">
                    <input type="text" name="title" value="" class="form-control" required="required" id="title">
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="control-label col-sm-3">
                    Description
                </label>

                <div class="col-sm-9">
                    <input type="text" name="description" value="" class="form-control" required="required"
                           id="description">
                </div>
            </div>
        </div>
            <div class="panel-footer">
                <input type="submit" name="create" class="save btn btn-primary" value="Create" id="create">
                <a href="/" class="btn btn-danger" name="cancel">Cancel</a>
            </div>
        </form>
    </div>
</div>